.question-wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.question-text-container {
  display: flex;
  align-items: center;
}
.question-text-container h5{ width: 500px}


.question-carousel-container {
  width: 800px;
  position: relative;
}

.active {
  box-shadow: 0 0 0 1px #007bff;
}

.correct {
  box-shadow: 0 0 0 2px green;
}

.timer {
  position: absolute;
  right: 55px;
  top: 25px;
}
